/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 228, 228);
}


/* Dark mode toggle button */

.dark-mode-toggle {
    margin: 20px 48%;
}

.checkbox {
    opacity: 0;
}

.label {
    width: 72px;
    height: 32px;
    background-color: white;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    transform: scale(1.2);
}

.ball {
    width: 24px;
    height: 24px;
    background-color: #4E505F;
    border-radius: 50%;
    transition: transform 0.2s linear;
    position: absolute;
}

.checkbox:checked+.label .ball {
    transform: translateX(40px);
}

.fa-moon {
    color: rgb(85, 85, 191);
}

.fa-sun {
    color: rgb(85, 85, 191);
}


/* Main section - full calculator */

main {
    margin: 65px auto;
    width: 450px;
    text-align: right;
    padding: 20px;
}


/* Previous values */

.prev-val {
    color: #757578;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    margin-right: 15px;
}

.curr-val {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    text-align: right;
    margin-right: 15px;
}


/* BUTTONS */

button {
    width: 72px;
    height: 72px;
    border-radius: 30px;
    font-size: 30px;
    border: none;
    margin-right: 15px;
    margin-top: 10px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.grey-btn {
    background-color: #a2a5b3;
}

.blue-btn {
    background-color: #4B5EFC;
    color: white;
}


/* Dark mode */

.dark-bg {
    background-color: #17171C;
}

.dark-label {
    background-color: #2E2F38;
}

.dark-curr-val {
    color: white;
}

.dark-buttons {
    color: white;
}

.dark-btn {
    background-color: #2E2F38;
}


/* Media queries */

@media screen and (max-width:680px) {
    .dark-mode-toggle {
        margin: 20px 45%;
    }
}